.wizard {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    justify-content: stretch;
    overflow: hidden;
}


.contentContainer {
    flex: 1;
    /*background-color: lightgrey;*/
    transform: translateX(0%);
}

.contentContainer.animate {
    transition: transform 0.4s ease;
}

.contentContainer.left {
    transform: translateX(-100%);
}

.contentContainer.right {
    transform: translateX(100%);
}


.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid lightgrey;
    margin-top: 8px;
}

.buttonContainer * {
    margin-top: 8px;
    margin-left: 8px;
}

.steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;
}

.step {
    background-color: #dadada;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid white;
    transition: background-color 0.5s ease;
    white-space: pre-line;
    text-align: center;
}

.step.stepDone {
    background-color: #43c2ce;
}

.step.stepActive {
    background-color: #3c76ee;
}

.stepConnector {
    flex: 1;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
}

.stepConnector.stepDone {
    background-color: #43c2ce;
}
